
/* Background color set to white */
body {background-color: white;}

/* Deactivates underlined links */
/* a:hover,a:visited,a:links,a:active*/ 

*a:hover,a:visited,a:links, a:active
{
    text-decoration: none;
}

/* about {
	text-decoration: none	
} */

/* Makes profile picture square */
.avatar {
border-radius: initial !important;
}